<!DOCTYPE html>
<html ng-app="App" ng-controller="GigaSpaceBrowserController">
<head>
    <title>logb {{ config.internal.appVersion }}</title>
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/log.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/engine.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="header">
    <div ng-if="inactive" id="inactive">
        Sir, logs are absolutely cold. Heat up?<br>
        <a href="javascript:void(0);" ng-click="backToActive()">Yes, please.</a>
    </div>

    <div ng-show="selectedApp && !selectedLog" id="logs-header">
        <span ng-repeat="app in apps | orderBy : 'name'">
            <a ng-click="selectApp(app)" ng-class="{'selected' : app === selectedApp}" href="javascript:void(0);">{{
                app.name }}</a>
        </span>

        <p></p>
        <input type="text" placeholder="filter keywords" ng-model="filter" style="width: 90%">
    </div>

    <div ng-if="selectedLog" id="log-header">
        <a href="javascript:void(0);" ng-click="showLogs()">Back to Logs</a>

        {{ selectedLog.host }}
        {{ selectedLog.file }}
        {{ selectedLog.length | humanSize }}
        {{ selectedLog.lastModified | humanDate }}
    </div>
</div>

<div id="enter" ng-if="!selectedApp">
    <div style="display: table-cell; vertical-align: middle; width: 100%; position: static; text-align: center;">
        <div style="margin-left: auto; margin-right: auto;">
            <ul style="list-style: none; padding: 0;">
                <li>Logs, Sir</li>
                <li>&nbsp;</li>
                <li class="animate-repeat" ng-repeat="app in apps | orderBy : 'name'">
                    <a ng-click="selectApp(app)" ng-class="{'selected' : app === selectedApp}"
                       href="javascript:void(0);">{{ app.name }}</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="content">
    <div ng-show="selectedApp && !selectedLog" style="padding: 1em;">
        <table border="0" cellspacing="5" style="width: 100%;">
            <tr>
                <th>Host</th>
                <th>File</th>
                <th>Size</th>
                <th>Changed</th>
            </tr>
            <tr ng-model-options="{debounce: 200}" ng-repeat="log in logs | orderBy : 'lastModified' : true | filter : filter | limitTo : 200">
                <td align="center">{{ ::log.host ? log.host : "N/A" }}</td>
                <td><a href="javascript:void(0);" ng-click="selectLog(log)">{{ ::log.file }}</a></td>
                <td align="right">{{ ::log.length | humanSize }}</td>
                <td align="center">{{ ::log.lastModified | humanDate }}</td>
            </tr>
            <tr ng-show="!logs.length">
                <td colspan="3">No logs</td>
            </tr>
        </table>
    </div>

    <div ng-if="selectedLog">
        <div ng-show="log.start > 0" style="padding: 1em;">
            <a href="javascript:void(0);" ng-click="showPrevious();">Show Previous</a>
        </div>

        <pre id="log" style="font-family: courier new, courier, monospace; padding: 1em; padding-top: 0;"></pre>
    </div>
</div>

</body>
</html>

