<div id="header">
    <div ng-if="inactive" id="inactive">
        Sir, logs are absolutely cold. Heat up?<br>
        <a href="javascript:void(0);" ng-click="backToActive()">Yes, please.</a>
    </div>

    <div id="logs-header">
        <span ng-repeat="ap in apps | orderBy : 'name'">
            <a ng-class="{'selected' : ap === app}" href="#/ls/{{ ::ap.name }}">{{ ap.name }}</a>
        </span>

        <p></p>
        <input ng-model-options="{debounce: 200}" type="text" placeholder="filter keywords" ng-model="filter"
               style="width: 90%">
    </div>
</div>

<div id="content">
    <div style="padding: 1em;">
        <table border="0" cellspacing="5" style="width: 100%;">
            <tr>
                <th>Host</th>
                <th>File</th>
                <th>Size</th>
                <th>Changed</th>
            </tr>
            <tr ng-repeat="log in logs">
                <td align="center">{{ ::log.host ? log.host : "N/A" }}</td>
                <td><a target="_blank" href="#/tail/{{ ::app }}/{{ ::log.host }}/{{ ::log.file }}">{{
                    ::log.file }}</a></td>
                <td align="right">{{ ::log.length | humanSize }}</td>
                <td align="center">{{ ::log.lastModified | humanDate }}</td>
            </tr>
            <tr ng-show="!logs.length">
                <td colspan="3">No logs</td>
            </tr>
        </table>
    </div>
</div>

