<div id="header">
    <div ng-if="inactive" id="inactive">
        Sir, logs are absolutely cold. Heat up?<br>
        <a href="javascript:void(0);" ng-click="backToActive()">Yes, please.</a>
    </div>

    <div id="log-header">
        {{ log.host }}
        {{ log.file }}
        {{ log.length | humanSize }}
        {{ log.lastModified | humanDate }}
    </div>
</div>

<div id="content">
    <div ng-show="viewport.start > 0" style="padding: 1em;">
        <a href="javascript:void(0);" ng-click="showPrevious();">Show Previous</a>
    </div>

    <div id="log" style="white-space: pre-wrap; font-family: courier new, courier, monospace; padding: 1em; padding-top: 0;"></div>
</div>

